@include b(element) {
    @include e(image) {
        position: relative;
        .anticon {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 100px;
            color: #fff;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}