@include b(screen-disign) {
    @include e(body) {
        @include m(right) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 101;
            width: 400px;
            background-color: #535353;
            border-left: 1px solid rgba(0, 0, 0, .8);
            transition: all .25s ease 0s;
            .ant-tabs-content {
                height: calc(100vh - 100px);
                overflow: hidden;
                overflow-y: auto;
            }
            textarea::placeholder,
            input::placeholder {
                color: rgba(255, 255, 255, .1)
            }
            .custom-tabs {
                .ant-tabs-nav {
                    background-color: #424242;
                    &:before {
                        border-bottom-color: #383838;
                    }
                }
                .ant-tabs-tab {
                    margin: 0;
                    padding: 5px 10px;
                    background-color: #424242;
                    border-bottom: 1px solid #383838;
                    border-right: 1px solid #383838;
                    color: #a0a0a0;
                }
                .ant-tabs-tab-active {
                    background-color: #535353;
                    border-bottom: none;
                    .ant-tabs-tab-btn {
                        color: #fff;
                    }
                }
                .ant-tabs-ink-bar {
                    display: none;
                }
            }
            .ant-form-item {
                padding: 0 15px;
                margin-bottom: 14px;
                .anticon {
                    color: rgba(255, 255, 255, 0.6);
                }
            }
            .ant-form-item-label>label {
                color: rgba(255, 255, 255, .6);
            }
            .ant-select-selector,
            .ant-input-affix-wrapper,
            .ant-input,
            .ant-input-number {
                background-color: #424242!important;
                border: 1px solid #383838;
                color: rgba(255, 255, 255, .8)!important;
            }
            .ant-select-selector {
                border: 1px solid #383838!important;
            }
            .ant-collapse {
                background: none;
                border: none;
                &-header {
                    padding: 8px 10px!important;
                    color: rgba(255, 255, 255, 0.6)!important;
                    border-top: 1px solid #383838;
                }
                &-item {
                    border-radius: 0;
                    border: none;
                }
                &-content {
                    padding-top: 16px;
                    background: none;
                    border: none;
                    border-top: 1px solid #383838;
                    &-box {
                        padding: 0 !important;
                    }
                }
            }
            .color-wrapper {
                position: relative;
                width: 100%;
                height: 32px;
                text-align: center;
                line-height: 32px;
                color: #fff;
                cursor: pointer;
                background-color: #424242;
                border: 1px solid #383838;
                border-radius: 3px;
                &:hover .color {
                    display: block;
                }
                .color {
                    position: absolute;
                    right: 0;
                    z-index: 100;
                    display: none;
                }
            }
            .operation {
                width: 30px;
                height: 30px;
                background: #535353;
                position: absolute;
                top: 50%;
                left: -30px;
                margin-top: -15px;
                padding-left: 10px;
                border: 1px solid rgba(0, 0, 0, 0.8);
                border-right-color: transparent;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                box-shadow: -4px 0 7px rgba(0, 0, 0, .3);
                cursor: pointer;
                color: rgba(255, 255, 255, .6);
                line-height: 30px;
                font-size: 16px;
                transition: all .25s ease 0s;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    @include e(layer) {
        text-align: left;
        .app-screen-disign__layer {
            >.header {
                padding-left: 10px;
            }
            .app-screen-disign__layer--item .header {
                padding-left: 34px;
            }
        }
        .header {
            display: flex;
            height: 36px;
            line-height: 36px;
            color: rgba(255, 255, 255, 0.6);
            border-bottom: 1px solid #383838;
            cursor: pointer;
            transition: all .25s ease 0s;
            &:hover {
                background-color: rgba(0, 0, 0, .1);
            }
            @include when(active) {
                color: #fff;
                background-color: rgba(0, 0, 0, .1);
            }
            >span {
                display: block;
            }
            .show {
                &:hover {
                    color: #fff;
                    transform: rotate(-15deg);
                }
            }
            .show,
            .file {
                width: 24px;
                text-align: center;
                transition: all .25s ease 0s;
            }
            .label {
                padding-left: 10px;
            }
        }
        @include m(item) {
            .header {
                padding-left: 10px;
            }
        }
    }
}