/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */

@font-face {
  font-family: 'iconfont'; /* Project id 3592685 */
  src: url('//at.alicdn.com/t/c/font_3592685_nhy4c4eyf.woff2?t=1662543293853')
      format('woff2'),
    url('//at.alicdn.com/t/c/font_3592685_nhy4c4eyf.woff?t=1662543293853')
      format('woff'),
    url('//at.alicdn.com/t/c/font_3592685_nhy4c4eyf.ttf?t=1662543293853')
      format('truetype');
}

.app-icon {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
