@font-face {
  font-family: "iconfont"; /* Project id 3592685 */
  src: url("//at.alicdn.com/t/c/font_3592685_3spy633w9qr.woff2?t=1693745863873")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_3592685_3spy633w9qr.woff?t=1693745863873")
      format("woff"),
    url("//at.alicdn.com/t/c/font_3592685_3spy633w9qr.ttf?t=1693745863873")
      format("truetype");
}
.cms-icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
