@import "../mixin/mixins";
@include b(layout) {
  @include e(left) {
    flex: 1;
    margin-right: 15px;
    overflow: hidden;
  }
  @include e(center) {
    display: flex;
    overflow: hidden;
  }
  @include e(right) {
    width: 290px;
  }
}
