@include b(screen-disign) {
    @include e(header) {
        position: relative;
        z-index: 1000;
        display: flex;
        height: 50px;
        color: rgba(255, 255, 255, .8);
        background-color: #535353;
        border-bottom: 1px solid rgba(0, 0, 0, .8);
        p {
            margin: 0;
            font-size: 12px;
            line-height: 1;
        }
        @include m(left) {
            display: flex;
            height: 100%;
            font-size: 16px;
            li {
                position: relative;
                margin-right: 5px;
                padding: 3px 8px 0 8px;
                font-size: 16px;
                cursor: pointer;
                text-align: center;
                transition: all .25s ease 0s;
                &:hover {
                    color: #fff;
                    background-color: rgba(0, 0, 0, .8);
                    .elements {
                        display: block;
                    }
                }
                @include when(disabled) {
                    color: rgba(255, 255, 255, .4);
                    cursor: no-drop;
                    &:hover {
                        background: none!important;
                    }
                }
            }
            .elements {
                display: none;
                position: absolute;
                left: 0;
                top: 49px;
                width: 400px;
                height: 400px;
                background-color: rgba(0, 0, 0, .8);
            }
        }
        @include m(center) {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            height: 100%;
            padding-left: 10px;
            line-height: 1;
            .shortcuts-group {
                position: relative;
                display: flex;
                padding-right: 10px;
                &:after,
                &:before {
                    position: absolute;
                    top: 12px;
                    bottom: 12px;
                    content: '';
                    width: 1px;
                }
                &:after {
                    right: 5px;
                    background-color: rgba(0, 0, 0, .3);
                }
                &:before {
                    right: 4px;
                    background-color: rgba(255, 255, 255, .11);
                }
            }
            p {
                padding-top: 5px;
            }
            li {
                display: flex;
                align-items: center;
                margin-right: 5px;
                padding: 0 8px;
                font-size: 16px;
                cursor: pointer;
                text-align: center;
                transition: all .25s ease 0s;
                &:hover {
                    color: #fff;
                    background-color: rgba(0, 0, 0, .8);
                }
                @include when(disabled) {
                    color: rgba(255, 255, 255, .4);
                    cursor: no-drop;
                    &:hover {
                        background: none!important;
                    }
                }
            }
        }
        @include m(right) {
            display: flex;
            li {
                padding: 0 15px;
                line-height: 50px;
                font-size: 20px;
                &:hover {
                    cursor: pointer;
                    color: #fff;
                    background-color: #1890ff;
                }
            }
        }
    }
}