@include b(header) {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  height: 48px;
  background-color: var(--module-background-color);
  box-shadow: 0 0 10px var(--module-box-shadow-color);
  transition: all 0.25s ease 0s;
  @include e(left) {
    display: flex;
    align-items: center;
    width: 200px;
    padding: 0 15px;
    background-color: var(--change-primary-color);
    color: var(--white);
    box-sizing: border-box;
    transition: all 0.25s ease 0s;
    overflow: hidden;
    .title {
      margin: 0;
      padding: 0;
      padding-left: 10px;
      font-size: 22px;
      white-space: nowrap;
    }
    .cms-icon {
      font-size: 22px;
      transform: all 0.25s ease 0s;
    }
  }
  @include e(right) {
    display: flex;
    flex: 1;
    padding: 0 15px;
    @include m(left) {
      display: flex;
      align-items: center;
      flex: 1;
      .anticon {
        font-size: 24px;
        color: var(--light-font-color);
        cursor: pointer;
        transition: all 0.25s ease 0s;
        &:hover {
          color: var(--primary-color);
        }
      }
    }
    @include m(right) {
      display: flex;
      align-items: center;
      .ant-dropdown-trigger {
        height: 24px;
        padding-left: 15px;
        line-height: 24px;
        margin-left: 15px;
        border-left: 1px solid var(--border-color);
      }
      .user {
        display: flex;
        align-items: center;
      }
      .user-name {
        padding: 0 10px;
        color: var(--light-font-color);
      }
    }
  }
}

@include b(avatar) {
  width: 30px;
  height: 30px;
  background: var(--module-dark-background-color);
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.25s ease 0s;
}
