@include b(theme) {
  display: flex;
  align-items: center;
  @include e(select) {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
    &:hover {
      .bd {
        opacity: 1;
        transform: scale(1);
      }
    }
    .option,
    .hd {
      width: 16px;
      height: 16px;
      border: 2px solid var(--white);
      border-radius: 5px;
    }
    .bd {
      transition: all 0.25s ease 0s;
      opacity: 0;
      transform: scale(0);
      transform-origin: top center;
      position: absolute;
      top: 25px;
      left: 0;
      padding: 10px;
      border-radius: 3px;
      background: var(--module-background-color);
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      .option {
        margin-top: 5px;
      }
      .option:first-child {
        margin: 0;
      }
    }
  }
  @include e(mode) {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
    background: url("./assets/sun.png") var(--module-dark-background-color)
      center center no-repeat;
    background-size: 60% auto;
    transition: all 0.25s ease 0s;
    @include when(moon) {
      background: url("./assets/moon.png") var(--module-dark-background-color)
        center center no-repeat;
      background-size: 60% auto;
    }
  }
}
