@include b(screen-disign) {
    @include e(body) {
        @include m(left) {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: 101;
            width: 200px;
            background-color: #535353;
            border-right: 1px solid rgba(0, 0, 0, .8);
            transition: all .25s ease 0s;
            .header {
                height: 30px;
                padding: 0 10px;
                line-height: 30px;
                color: #a0a0a0;
                font-size: 12px;
                background-color: #424242;
                border-bottom: 1px solid #383838;
                border-top: 1px solid #383838;
            }
            .body {
                padding: 10px;
            }
            .page {
                overflow: hidden;
            }
            .page-item {
                display: flex;
                width: calc(100% + 80px);
                position: relative;
                padding: 0 0 0 10px;
                cursor: pointer;
                line-height: 40px;
                color: rgba(255, 255, 255, .6);
                border-bottom: 1px solid #383838;
                border-left: 5px solid transparent;
                transition: all .25s ease 0s;
                box-sizing: border-box;
                &.is-noactive:hover {
                    transform: translateX(-80px);
                }
                &:hover {
                    color: #fff;
                }
                .name {
                    flex: 1;
                    @include single();
                }
                @include when(active) {
                    font-weight: bold;
                    color: #fff;
                    border-left-color: #1890ff;
                }
            }
            .page-item__operation {
                display: flex;
                width: 80px;
                >span {
                    flex: 1;
                    text-align: center;
                    border-left: 1px solid #383838;
                    transition: all .25s ease 0s;
                    &:hover {
                        background-color: #1890ff;
                    }
                }
            }
            .operation {
                width: 30px;
                height: 30px;
                background: #535353;
                position: absolute;
                top: 50%;
                right: -30px;
                margin-top: -15px;
                padding-left: 5px;
                border: 1px solid rgba(0, 0, 0, 0.8);
                border-left-color: transparent;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                box-shadow: 4px 0 7px rgba(0, 0, 0, .3);
                cursor: pointer;
                color: rgba(255, 255, 255, .6);
                line-height: 30px;
                font-size: 16px;
                transition: all .25s ease 0s;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}