@include b(table) {
    border-collapse: collapse;
    table-layout: fixed;
    padding: 0;
    background: none;
    color: #fff;
    overflow: hidden;
    @include e(header) {
        position: relative;
        z-index: 2;
    }
    @include e(body) {
        position: relative;
        z-index: 1;
        transition: all .25s ease 0s;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    td,
    th {
        padding: 0 10px;
    }
}