@include b(screen-disign) {
    user-select: none;
    overflow: hidden;
    @include e(body) {
        display: flex;
        height: calc(100vh - 51px);
        position: relative;
        @include m(center) {
            position: relative;
            flex: 1;
            padding: 0 300px 0 200px;
            overflow: hidden;
            transition: all .25s ease 0s;
            .react-draggable-group {
                // >.handle {
                //     display: none;
                // }
                >.app-widget__item>.mask {
                    width: 0;
                    height: 0;
                }
            }
            .react-draggable-disabled {
                >.handle {
                    display: none;
                }
            }
            .body {
                position: relative;
                width: 100%;
                height: calc(100% - 30px);
                overflow: auto;
                box-sizing: border-box;
                background-color: #282828;
                border-bottom: 1px solid #000;
                .elements-wrap {
                    width: 5000px;
                    height: 3000px;
                    background: url('../../assets/image/report/canvas-bg.png') repeat;
                    overflow: hidden;
                }
            }
            .footer {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-right: 15px;
                color: rgba(255, 255, 255, .6)
            }
            .grid {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
            }
        }
    }
}

@include b(widget) {
    @include e(item) {
        width: 100%;
        height: 100%;
        &:hover {
            >.mask {
                display: block;
            }
        }
        @include when(active) {
            >.handle {
                z-index: 1000;
            }
            >.mask {
                display: block;
            }
            >.draggable {
                display: block;
            }
        }
        .mask {
            display: none;
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            cursor: move;
            background: rgba(255, 255, 255, .6);
        }
        .line-top {
            position: absolute;
            border-left: 1px dashed #fff;
            width: 0;
            height: 10000px;
            left: 0;
            transform: translateY(-100%)
        }
        .line-left {
            position: absolute;
            border-top: 1px dashed #fff;
            width: 10000px;
            height: 0;
            top: 0;
            transform: translateX(-100%);
        }
        .label {
            top: -5px;
            left: -8px;
            position: absolute;
            padding: 5px;
            transform: translate(-100%, -100%);
            color: #fff;
            font-size: 18px;
            white-space: nowrap;
            cursor: move;
        }
    }
}