@include b(element) {
    @include e(group) {
        // +.handle {
        //     display: none;
        // }
        @include when(active) {
            border: 1px dashed #fff;
            background-color: rgba(255, 255, 255, .1);
        }
    }
}