.home {
  &-title {
    background: var(--bgColor);
    color: red;
    transition: all 0.25s ease 0s;
  }
}
ul {
  background: var(--bgColor);
  transition: all 0.25s ease 0s;
  a,
  li {
    color: #fff;
  }
}
